$page_heading_color: black;
$section_heading_color: black;
$sub_section_heading_color: black;
$section_super_heading_color: black;
$text_Color: black;
$text_Color_darker: black;
$text_Color_lighter: black;
$nav_text_color: #6f6a6a;
$active_nav_color: #96b6c5;

$primaryColor: #213555;
$secondaryColor: #4f709c;
$tertiaryColor: #d8c4b6;
$fourthColor: #f5efe7;
