//standard font sizes
$font_xsm: 9px;
$font_sm: 12px;
$font_md1: 16px;
$font_md2: 21px;
$font_lg: 28px;
$font_xlg: 37px;
$font_hg: 50px;
$font_xhg: 67px;
$font_xxhg: 89px;

// minor 3rd progression
// 8px: 0.5rem
// 10.667px: 0.6667rem
// 14.222px: 0.8889rem
// 16px: 1rem
// 19.2px: 1.2rem
// 23.04px: 1.44rem
// 27.648px: 1.728rem
// 33.177px: 2.0735rem
// 39.813px: 2.4883rem
// 47.775px: 2.986rem
// 57.33px: 3.5833rem
// 68.796px: 4.2998rem
// 82.555px: 5.1597rem
// 99.066px: 6.1916rem
// 7.42992rem
//8.915904

//logo
$font_logo: 55px;
// $font_logo_lg : 50px;
$font_logo_mobile: 55px;
// $font_logo_sm: 55px;

$font_link: 26px;
$font_link_mobile: 28px;

$page_heading_font: 67px;
$section_super_heading_font: 50px;
$section_heading_font: 37px;
$sub_section_heading_font: 28px;
$minor_heading_font: 21px;
$paragraph_text_lg_font: 18px;
$paragraph_text_md_font: 16px;
$paragraph_text_sm_font: 12px;

$page_heading_font_mobile: 50px;
$section_super_heading_font_mobile: 37px;
$section_heading_font_mobile: 28px;
$sub_section_heading_font_mobile: 21px;
$minor_heading_font_mobile: 18px;
$paragraph_text_lg_font_mobile: 16px;
$paragraph_text_md_font_mobile: 12px;
$paragraph_text_sm_font_mobile: 10px;
