.home {
  font-family: "Marcellus", sans-serif;
  color: #6f6a6a;
}

.image {
  height: 465px;
}

.serviceBar {
  position: relative;
  top: -60px;
}

.services {
  background-color: #f0f0f0;
  height: 319px;
  border-radius: 50px;
  box-shadow: 0px 10px 20px 3px #00000040;
}

.bar {
  // width: 300px;
  flex: 1;
  height: 3px;
  background-color: #928b8b;
}

.textArea {
  width: 479px;
  line-height: 37.62px;
  font-size: 30px;
}

.chef_image {
  width: 400px;
  height: 288px;
}
.book_now {
  width: 233px;
  height: 63px;
  border-radius: 50px;
  background-color: #5b2100;
  color: #ffffff;
  font-size: 30px;
  margin: 0;
}

.dish_container {
  border-radius: 20px;
}

.dish {
}

.dish_name {
  background-color: rgba(91, 33, 0, 0.48);
  bottom: 7px;
  border-radius: 0px 0px 20px 20px;
  width: 97%;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title {
  padding: 0 50px;
}

.reviews_background_container {
  height: 465px;
  margin-top: 40px;
}

.reviews_background {
  position: absolute;
  height: 465px;
  z-index: -1;
}

.review_box {
  background-color: white;
  width: 20%;
  height: 349px;
  border-radius: 20px;
  margin: 0px 25px;
  .review_author {
    font-size: 30px;
    color: rgba(94, 99, 82, 1);
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .review_text {
    padding-top: 10px;
    width: 179px;
  }
}

.work_area {
}

.food_image {
  width: 269px;
  height: 289px;
  margin: 20px;
}
