.bar {
  height: 94px;
  background-color: rgba(109, 87, 79, 1);
  font-size: 30px;
  color: white;
}

.trademark {
  font-size: 20px;
}

.leftbox {
  width: 35%;
  margin-left: 100px;
}

.left_heading {
  font-size: 30px;
  margin: 50px 0;
  color: rgba(94, 99, 82, 1);
}

.left_text {
  font-size: 20px;
  color: rgba(130, 135, 117, 1);
  margin-bottom: 50px;
  line-height: 25.08px;
}

.righbox {
  margin: 50px 0;
  margin-right: 80px;
  height: inherit;
  //   max-height: 500px;
}
